.list-reset {
  list-style: none;
}

.aviasales {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 40.5px 30px 50px 30px;
  max-width: 960px;
  background-color: #f1fcff;
  color: #4a4a4a;
}

.aviasales-main {
  width: 100%;
  display: grid;
  grid-template-columns: 232px auto;
  gap: 20px;
  margin: 0 auto;
  max-width: 754px;
}
