@font-face {
  font-family: 'Open Sans';
  src: url('./OpenSans.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url('./OpenSansSemibold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}
